<div class="container__big-card">
  <div class="big-card__photo">
    <a href="#">
      <img
        src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/ironman_lob_mas_hlf_02_0.jpg"
        alt=""
        height="200px"
      >
    </a>
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat turpis quis ultricies euismod. Aenean ut dui arcu. Fusce at tempor nisl. Aenean fermentum finibus auctor. Sed quis mauris tellus. Nam velit lacus, mollis at lacus ac, cursus elementum felis. Aliquam consequat sed ante a hendrerit.</a></p>
  </div>
</div>
